---
import BaseLayout from "../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"

const articles = await getCollection("articles")
---

<BaseLayout>
  <h1>My posts</h1>
  <ul>
    {
      articles.map((article) => (
        <li>
          <a href={`/articles/${article.id}`}>{article.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
