---
import BaseLayout from "../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"
import UINavbar from "../components/UI/UINavbar.astro"

const articles = await getCollection("articles")
---

<BaseLayout>
  <div class="container">
    <UINavbar class="nav" />
    <main>
      <h1>Welcome to my personal blog</h1>
      <ul>
        {
          articles.map((article) => (
            <li>
              <a href={`/articles/${article.id}`}>{article.data.title}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    position: relative;

    & .nav {
      position: sticky;
      width: 100%;
      top: 0;
    }
  }
</style>
