---
import BaseLayout from "../layouts/BaseLayout.astro"
import UINavbar from "../components/UI/UINavbar.astro"
import ArticleList from "../components/Article/ArticleList.astro"
---

<BaseLayout>
  <div class="container">
    <UINavbar class="nav" />
    <main>
      <h1>Bienvenue sur mon blog personnel !</h1>
      <ArticleList />
    </main>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    & main {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      width: clamp(256px, 100vw, 900px);
    }
  }
</style>
