@import "vars.css";

:root {
  color-scheme: light dark;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color-default);
}
code {
  color: light-dark(var(--light-code), var(--dark-code));
}

.light {
  /* forces light color-scheme */
  color-scheme: light;
}
.dark {
  /* forces dark color-scheme */
  color-scheme: dark;
}
