/* Funnel Sans (wght) */
@font-face {
  font-family: "Funnel Sans";
  src: url("../fonts/FunnelSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Funnel Sans";
  src: url("../fonts/FunnelSans-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Noto Serif (wdth, wght) - variable width + weight */
@font-face {
  font-family: "Noto Serif Variable";
  src: url("../fonts/NotoSerif-VariableFont_wdth,wght.woff2") format("woff2");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif Variable";
  src: url("../fonts/NotoSerif-Italic-VariableFont_wdth,wght.woff2")
    format("woff2");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

/* Roboto Mono (wght) */
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-sans:
    "Funnel Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  --font-serif: "Noto Serif Variable", Georgia, "Times New Roman", Times;
  --font-mono: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco;
}

body {
  font-family: var(--font-serif), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans), serif;
}

code,
pre {
  font-family: var(--font-mono), monospace;
}
