@import "reset.css";
@import "fonts.css";
@import "dark.css";

:root {
  --color-dark: #1a1a1a;
  --color-light: #f8f8f8;
  --color-action: #95f348;
  --color-decoration: #298319;

  --icon-size: 1.5rem;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
