:root {
  --color-dark: #161f18;
  --color-light: #f3fff3;
  --color-action: #10771f;
  --color-decoration: #54238d;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --light-bg: var(--color-light);
  --light-color: var(--color-dark);
  --light-code: var(--color-neutral-400);

  --dark-bg: var(--color-dark);
  --dark-color: var(--color-light);
  --dark-code: var(--color-neutral-600);

  --icon-size: 1.5rem;
}
